@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 'white'; /* Set the background color to lightgrey */
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: 'white';
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background)); /* Use the single color for the background */
}

.node-label {
  font-size: 12px;
  padding: 1px 4px;
  color: pink;
}

.graph-container {
  margin-top: -100px; /* Adjust the value to move the graph up */
}
